@import '../../theme.scss';

#nav {
  z-index: 15;

  &.navbar {
    background: linear-gradient(45deg, $color1 65%, $color3);
  }

  .navbar-toggler {
    border-color: $primary !important;
    color: $primary !important;
  }
}
